<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"/>
    
       <link rel="stylesheet" type="text/css" href= "CSS/header.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

       </head>

       <body>
           <div class= "container">
            <div class="logo1">
                 <img src="Resources/logo1.jpg" alt="Logo" width="42" height="42"/>
            </div>

            <div id="logo2">
                <img src="Resources/logo2.jpg" alt="Logo2" width="60" height="60"/>
            </div>
    
            <div class="menu">
                <a href="#Home">Home</a>
                <a href="#Projects">Projects</a>
                <a href="#PropertySearch">Property Search</a>
                <a href="#Contact Us">Contact Us</a>
                <a class="rcorners" href="#">Login/Sign-up</a>
                <a href="#"><img src="Resources/home.jpg" width="30" height="30"/></a>
            </div>

        



    <div class="footer-wrapper">
        <div class="container-fluid">
            <div class="footer-social-icons">
                <ul>
                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                </ul>

            </div>
        </div>

        </div>
      

    </div>
</body>





 


</html>
